<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,19}</string>
                <key>spriteSourceSize</key>
                <string>{327,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_habby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,299}</string>
                <key>spriteSourceSize</key>
                <string>{225,299}</string>
                <key>textureRect</key>
                <string>{{1,205},{225,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_yiduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,181}</string>
                <key>spriteSourceSize</key>
                <string>{350,181}</string>
                <key>textureRect</key>
                <string>{{1,22},{350,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TP_Logo.png</string>
            <key>size</key>
            <string>{352,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7970a553c68a11409ff1fba9668334d:7a06aceb837bb9eb479b67902cd27d89:f19af640556b4dd2dfcc3b4d7d190e83$</string>
            <key>textureFileName</key>
            <string>TP_Logo.png</string>
        </dict>
    </dict>
</plist>
